<!DOCTYPE html>
<html>

<head>
    <title>We Are Jser</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
    <%- include('template/header.ejs') %> 
    <div class="body">
        <%- include('template/category.ejs') %>
        <%- include('template/articaleItem.ejs', {res: data}) %> 
    </div>

    
</body>
</html>