<!DOCTYPE html>
<html>

<head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
    <div class="container">
        <p class='back_index'>
            <a href="/" rel="external nofollow" rel="external nofollow" rel="external nofollow">回到首页</a>
        </p>
        <form action="/user/login/" method="post">
            <% if(errmsg){ %>
                <p class="tip">*
                    <%= errmsg %>
                </p>
                <% } %>
                    <p>用户名：
                        <input class="account" type="text" name="username" required="required">
                    </p>
                    <p>密 码：
                        <input class="password" type="password" name="password" required="required">
                    </p>
                    <p>
                        <input class="login_btn" type="submit" name="submit" value="登录">
                    </p>
        </form>
        <p>还没帐号？
            <a href="/user/reg" rel="external nofollow">点击注册</a>
        </p>
    </div>
</body>

</html>