#articleItems ul,#articleItems li{
    list-style: none;
}
#articleItems ul{
    width: 80%;
    /* padding-left: 20%; */
}
a{
    text-decoration: none;
}
#articleItems .article:first-child{
    border-top: 1px solid #f4f4f4;
}
#articleItems .article{
    padding: 15px 0;
    border-bottom: 1px solid #f4f4f4;
    background: #fff;
}
#articleItems .article:hover{
    background: #fafafa;
}
#articleItems .title{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
#articleItems .title>a,.actions>a{
    margin-left: 15px;
    color: #999;
    width: 40px;
    font-size: 14px;
}
#articleItems .title>a:first-child{
    color: #3d3d3d;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    width: 50%;
    font-weight:bold;
}
#articleItems .title>a:first-child:hover{
    color: #ca0c16;
}

#articleItems .content{
    margin: 5px 15px;
    max-height: 50px;
    overflow: hidden;
}
#articleItems .footer{
    color: #999;
    font-size: 14px;
}
#articleItems .footer>a,.footer>span{
    margin-left: 15px;
    color: #3d3d3d;
}
#articleItems footer>a:hover{
    color: blue;
}
#articleItems .footer>a:last-child{
    float: right;
}
#articleItems .actions{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}