*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
header{
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 50px;
    background: #fff;
    color: #fff;
}
header .home_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .userinfo{
    line-height: 50px;
    color: #333;
}
header .userinfo a{
    color: #fff;
    text-decoration: none;
    color: #333;
}
.body{
    max-width: 1200px;
    margin: 30px auto;
}
body{
    background: #f5f6f7;
}