<link rel='stylesheet' href='/stylesheets/category.css' />
<div id = "category">
    <span>热门标签：</span>
    <ul>
        <li>React</li>
        <li>Vue</li>
        <li>Angular</li>
        <li>Node</li>
        <li>ES6</li>
        <li>Webpack</li>
        <li>Html5</li>
        <li>CSS3</li>
        <li>...</li>
    </ul>
</div>